body{
    text-align:center;
    background-color:seagreen;
}
#mycarousel{
    height:500px;
    margin-bottom:90px;
    background-color:lavender;
}
#mycarousel img{
    height:350;
    margin-top:45px;
}
